{% extends 'base.html' %}
{% block content %}
<div class="row m-3">
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="divide1">
         <div class="box">
            <img class="menutiles" src="../static/images/divide1.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="divide2">
         <div class="box">
            <img class="menutiles" src="../static/images/divide2.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="divide3">
         <div class="box">
            <img class="menutiles" src="../static/images/divide3.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="divide4">
         <div class="box">
            <img class="menutiles" src="../static/images/divide4.png">
         </div>
      </a>
   </div>
</div>
<div class="row m-3">
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="divide5">
         <div class="box">
            <img class="menutiles" src="../static/images/divide5.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="divide6">
         <div class="box">
            <img class="menutiles" src="../static/images/divide6.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="divide7">
         <div class="box">
            <img class="menutiles" src="../static/images/divide7.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="divide8">
         <div class="box">
            <img class="menutiles" src="../static/images/divide8.png">
         </div>
      </a>
   </div>
</div>
<div class="row m-3">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="divide9">
            <div class="box">
                <img class="menutiles" src="../static/images/divide9.png">
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="divide10">
        <div class="box">
            <img class="menutiles" src="../static/images/divide10.png">
        </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
    <a href="divide">
        <div class="box">
            <img class="menutiles" src="../static/images/divideMIX.png">
        </div>
    </a>
    </div>
</div>

<div id="mybutton">
   <a href="/"><button class="homebutton"><i class="fa-solid fa-house"></i></button></a>
</div>
{% endblock %}