{% extends 'base.html' %}
{% block content %}
<div class="row m-3">
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="multiply-1">
         <div class="box">
            <img class="menutiles" src="../static/images/multiply1.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="multiply-2">
         <div class="box">
            <img class="menutiles" src="../static/images/multiply2.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="multiply-3">
         <div class="box">
            <img class="menutiles" src="../static/images/multiply3.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="multiply-4">
         <div class="box">
            <img class="menutiles" src="../static/images/multiply4.png">
         </div>
      </a>
   </div>
</div>
<div class="row m-3">
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="multiply-5">
         <div class="box">
            <img class="menutiles" src="../static/images/multiply5.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="multiply-6">
         <div class="box">
            <img class="menutiles" src="../static/images/multiply6.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="multiply-7">
         <div class="box">
            <img class="menutiles" src="../static/images/multiply7.png">
         </div>
      </a>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="multiply-8">
         <div class="box">
            <img class="menutiles" src="../static/images/multiply8.png">
         </div>
      </a>
   </div>
</div>
<div class="row m-3">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="multiply-9">
            <div class="box">
                <img class="menutiles" src="../static/images/multiply9.png">
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="multiply-10">
        <div class="box">
            <img class="menutiles" src="../static/images/multiply10.png">
        </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
    <a href="multiply">
        <div class="box">
            <img class="menutiles" src="../static/images/multiplyMIX.png">
        </div>
    </a>
    </div>
</div>

<div id="mybutton">
   <a href="/"><button class="homebutton"><i class="fa-solid fa-house"></i></button></a>
</div>
{% endblock %}