{% extends 'base.html' %}

{% block content %}
    <div id="container">
        <div class="excercise">
            <h2><span id="a">{{ num_a }}</span> x <span id="b">{{ num_b }}</span> = </h2>
            <form>
                <div class="input-group w-50" style="margin-left: auto;margin-right: auto">
                    <input class="form-control" type="text" placeholder="Uitkomst" id="ans">
                    <button class="btn btn-danger" type="button" onclick="ControleMaal()">Ok</button>
                </div>
            </form>
            <div class="results">
                <p><i class="fa-solid fa-circle-check"></i> <span id="correct_ans">0</span></p>
                <p><i class="fa-solid fa-circle-xmark"></i> <span id="wrong_ans">0</span></p>
                <button class="btn btn-danger" type="button" onclick="reset()"><i class="fa-solid fa-rotate"></i></button>
            </div>
        </div>
    </div>
    <div id="mybutton">
        <a href="multiplyOptions"><button class="returnbutton"><i class="fa-solid fa-arrow-left"></i></button></a>
        <a href="/"><button class="homebutton"><i class="fa-solid fa-house"></i></button></a>
    </div>
{% endblock %}